body {
	list-style-position: outside;
	list-style-type: disc;
	font-family: Helvetica;
    padding-top: 1em;
	
}

.title {
	font-weight: bold;
	font-size: 13pt;
}

.abstract {
	font-size: 10pt;
	text-align: justify;
}

.description {
	font-size: 10pt;
	text-align: justify;
}

p.map {
	margin-left: auto;
    margin-right: auto;
	width: 310px;
	font-size: 10pt;
	text-align: justify;
}

.spacer {
	height: 2px;
}

img {
	margin: 8px;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	float: right;
    width: 300px;
}

