<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f33aea59-f0a9-4e2d-9d80-dfbb86ea7a91</key>
	<dict>
		<key>uuid</key>
		<string>f33aea59-f0a9-4e2d-9d80-dfbb86ea7a91</string>
		<key>title</key>
		<string>Syslinux and the dynamic x86 boot process</string>
		<key>speaker</key>
		<string>H. Peter Anvin</string>
		<key>startDate</key>
		<date>2009-09-26T17:01:21Z</date>
		<key>endDate</key>
		<date>2009-09-26T17:01:23Z</date>
		<key>descriptionPage</key>
		<string></string>
	</dict>
</dict>
</plist>
